{% extends 'base.html' %}
{% load do_extras %}

{% block content %}
    <div class="container">
        <h1 class="logo">добби</h1>

        <h2 class="description">единая сеть международных перевозок</h2>
        <hr/>
        <div class="main">
            <div id="map">
                <div class="point blue" id="point_from" style="left: -9999px;top: -9999px;">
                    <div class="cont"><span class="label"></span></div>
                </div>
                <div class="point red" id="point_to" style="left: -9999px;top: -9999px;">
                    <div class="cont"><span class="label"></span></div>
                </div>
            </div>
            <div id="params">
                <h3 class="title">ваш маршрут</h3>
                <fieldset id="fieldset_from">
                    <label for="from"><span class="point blue"></span>откуда</label>

                    <div class="cselect">
                        <select name="from" id="from">
                            <option value="-1">Выберите город</option>
                            {% for city in cities %}
                                <option value="{{ city.id }}" data-x="{{ city.x }}" data-y="{{ city.y }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
                <fieldset id="fieldset_to">
                    <label for="to"><span class="point red"></span>куда</label>

                    <div class="cselect">
                        <select name="to" id="to">
                            <option value="-1">Выберите город</option>
                            {% for city in cities %}
                                <option value="{{ city.id }}" data-x="{{ city.x }}" data-y="{{ city.y }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>

                <div id="message"></div>

                <div id="info">
                    <div class="row" id="distance">
                        <span class="name">Расстояние:</span>
                        <span class="value">440</span>
                    </div>
                    <div class="row" id="time">
                        <span class="name">Длительность поездки:</span>
                        <span class="value">6 часов</span>
                    </div>
                    <div class="row" id="cost">
                        <span class="name">Стоимость перевозки 1кг:</span>
                        <span class="value">200 руб</span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

{% endblock %}


{% block footer_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}