/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

@font-face {
    font-family: 'Aeromatics';
    font-style: normal;
    font-weight: 400;
    src: local('Aeromatics'), local('Aeromatics'), url(../fonts/aeromatics.woff) format('woff');
}

html {
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Aeromatics';
}

html,
body {
    height: 100%;
    background-size: cover;
    margin: 0;
}

.bg {
    height: 100%;
    width: 100%;
    position: fixed;
    content: '';
    background: #d9e3ed; /* Old browsers */
    background: -moz-linear-gradient(top, #d9e3ed 0%, #7b7f8a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9e3ed), color-stop(100%, #7b7f8a));
    background: -webkit-linear-gradient(top, #d9e3ed 0%, #7b7f8a 100%);
    background: -o-linear-gradient(top, #d9e3ed 0%, #7b7f8a 100%);
    background: -ms-linear-gradient(top, #d9e3ed 0%, #7b7f8a 100%);
    background: linear-gradient(to bottom, #d9e3ed, #7b7f8a); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9e3ed', endColorstr='#7b7f8a', GradientType=0); /* IE6-9 */
}

.container {
    position: relative;
    max-width: 935px;
    margin-right: auto;
    margin-left: auto;
    /*padding-right: 34px;*/
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom: 1;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

textarea:focus,
input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
    border-color: #b2b2b2 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 3px;
    border: 0;
    margin: 6px 0;
    padding: 0;
    background-color: #5a5e62;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Main
 */

.temp {
    background: url(../img/bg.png);
    width: 100%;
    height: 800px;
    content: '';
    position: absolute;
    z-index: -1;
}

.logo {
    font-size: 90px;
    color: #2c2f31;
    text-shadow: 0 0 24px rgba(255, 255, 255, .75);
    text-align: center;
    margin: 4px 0;
    line-height: 90px;
}

.description {
    font-size: 27px;
    color: #232426;
    opacity: .76;
    text-align: center;
    line-height: 27px;
    margin: 5px 0;
    white-space: nowrap;
    letter-spacing: -3px;
}

.main {
    padding: 19px 39px 20px 39px;
    min-height: 550px;
}

/*
 * Map
 */

.main #map {
    background: url(../img/map.png);
    background-size: 100% 100%;
    width: 324px;
    height: 419px;
    position: relative;
    margin-top: 20px;
    -webkit-perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    float: left;
}

.point {
    -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
    -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
    width: 17px;
    height: 17px;
    content: '';
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-transform: lowercase;
}

.red {
    background: url(../img/round-red.png);
    background-color: #2f001c;
}

.blue {
    background: url(../img/round-blue.png);
    background-color: #000024;
}

.main #map .point .cont {
    margin: 0 auto;
    float: left;
    left: 50%;
    position: relative;
}

.main #map .point .cont .label {
    float: left;
    position: relative;
    height: auto;
    right: 50%;
    font-size: 15px;
    color: #3a3d3f;
    top: -23px;
    text-transform: lowercase;
    display: block;
    margin: 0 auto;
}

/*
 * Parameters
 */

#params {
    float: right;
    width: 482px;
    position: relative;
}

#params .title {
    font-size: 25px;
    color: #2c2f31;
    text-align: center;
    letter-spacing: -1px;
    margin: 23px 0 26px 0;
}

.cselect {
    cursor: pointer;
    border: 3px solid #5a5e62;
    height: 31px;
    width: 293px;
    overflow: hidden;
    position: relative;
    background-color: #dfe6ed;
}

.cselect:after {
    width: 0;
    height: 0;
    top: 10px;
    right: 8px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 13px solid #e0e7ed;
    content: '';
    position: absolute;
}

.cselect:before {
    width: 32px;
    height: 31px;
    top: 0;
    right: 0;
    border-left: 3px solid #5a5e62;
    background-color: #4c5054;
    content: '';
    position: absolute;
}

.cselect select {
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: none;
    margin-top: -1px;
    padding-left: 10px;
    width: 325px;
    height: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    -webkit-appearance: button;
    color: #2c2f31;
    font-family: Aeromatics;
    margin-left: -3px;
}

fieldset {
    margin-bottom: 26px;
}

fieldset label {
    display: inline-block;
    margin-left: 40px;
    font-size: 15px;
    color: #2c2f31;
    top: -11px;
    position: relative;
    line-height: 15px;
    margin-right: 22px;
    width: 97px;
}

fieldset label span {
    margin-left: -39px;
}

fieldset .cselect {
    display: inline-block;
}

#params #message {
    position: absolute;
    color: rgb(185, 19, 19);
}

/*
 * Info
 */
#info {
    font-size: 15px;
    margin-top: 90px;
    margin-left: 5px;
    color: #2c2f31;
    width: 460px;
}

#info .value {
    float: right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
