<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">#}

    <title>Bit-t login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- TODC Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/todc-bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <h2 class="form-signin-heading text-center">{% trans "Log in with your Account" %}</h2>

    <div class="card card-signin">
        <img class="img-circle profile-img" src="{{ STATIC_URL }}img/avatar.png" alt="">

        <form class="form-signin" action="{% url 'login' %}" method="POST" role="form">{% csrf_token %}
            {% if message %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
            <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Log in" %}</button>
            <input type="hidden" name="next"/>

            <div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> {% trans "Stay signed in" %}
                </label>
            </div>

        </form>
    </div>

    <p class="text-center">
        <a href="{% url 'reg' %}">{% trans "Create an account" %}</a>
    </p>

</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
